@model IEnumerable<Sistema_de_Prestamos_V2.Models.Prestamos>

@{
    ViewData["Title"] = "Solicitar Préstamo";
}

<h1>Solicitar Préstamo</h1>

<p>
    <a asp-action="Create">Llenar Formulario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Monto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TasaInteres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontoCuota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadCuotas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tiempo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Monto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TasaInteres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MontoCuota)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadCuotas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tiempo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
